#map {
  width: 100%;
  min-height: 430px;
  background: url('./../img/ya-map.jpg') center center no-repeat;
  background-size: cover;
  margin-bottom: 42px;
}

.contact-info__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;

  &:before {
    content: "";
    display: block;
    width: 31px;
    height: 3px;
    background-color: $brown;
    margin-bottom: 10px;
  }
}

.contact-info__text {

  margin-left: 20px;
  margin-bottom: 30px;

  p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 14px;
    margin-bottom: 0;
    border-bottom: 1px solid $brown;

    &:last-of-type {
      border: none;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.contact-info__form {

  padding-left: 20px;

  textarea {
    min-width: 650px;
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 20px;
  }
}


//adaptive

@media screen and (max-width: 768px) {
  .contact-info__form {
    text-align: center;

    textarea {
      min-width: auto;
      width: 100%;
    }

    .input {
      min-width: auto;
      width: 70%;
    }
  }

  .contact-info__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .contact-info__form {
    .input {
      min-width: auto;
      width: 100%;
    }
  }


}